<table id="table_id" data-order='[[1,"asc"]]' data-page-length='25' class="display" datatable="ng"
  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead>
    <tr>
      <th>Id</th>
      <th>Location</th>
      <th>Name</th>
      <th>Số follow</th>
      <th>Số follower</th>
      <th>Mô tả</th>
    </tr>

  </thead>
  <tbody>
    <!--Dùng cái này đẩy data vào thì nó chỉ chèn data vào chứ không nhận luôn là data của datatables-->
    <tr *ngFor="let r of datas;index as idx;">
      <td>{{idx}}</td>
      <td>{{r.name}}</td>
      <td>{{r.city}}</td>
      <td>{{r.follow}}</td>
      <td>{{r.follower}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
<app-get-tik-tok></app-get-tik-tok>

<div class="container">
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" (click)="openPopup()">
    Add User
  </button>
  <!-- The Modal-->
  <div class="modal" id="addUserModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Nhập thông tin user</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)" class="form" enctype="multipart/form-data">
            <div class="form-group"
              [ngClass]="{error:formdata.controls.Fname.errors && formdata.controls.Fname.touched}">
              <label for="Inputuname">Location <span class="required-asteric">*</span></label>
              <div class="input-group controls">
                <input formControlName="Flocation" type="text" class="form-control" #Ilocation>
                <div *ngIf="formdata.controls.Flocation.errors && formdata.controls.Flocation.touched"
                  style="color:red;float: left;width: 100%;background: #ff000014;margin-top: 10px;padding: 10px 2px 0px 1px;">
                  <ul>
                    <li>Location is required.</li>
                  </ul>
                </div>
              </div>
              <label for="Inputuname">Name <span class="required-asteric">*</span></label>
              <div class="input-group controls">
                <input formControlName="Fname" type="text" class="form-control" #Iname>
                <div *ngIf="formdata.controls.Fname.errors && formdata.controls.Fname.touched"
                  style="color:red;float: left;width: 100%;background: #ff000014;margin-top: 10px;padding: 10px 2px 0px 1px;">
                  <ul>
                    <li>Fname is required.</li>
                  </ul>
                </div>
              </div>
              <label for="Inputuname">Số follow <span class="required-asteric">*</span></label>
              <div class="input-group controls">
                <input formControlName="Ffollow" type="number" class="form-control" #Ifollow>
                <div *ngIf="formdata.controls.Ffollow.errors && formdata.controls.Ffollow.touched"
                  style="color:red;float: left;width: 100%;background: #ff000014;margin-top: 10px;padding: 10px 2px 0px 1px;">
                  <ul>
                    <li>Số follow is required.</li>
                  </ul>
                </div>
              </div>
              <label for="Inputuname">Số follower <span class="required-asteric">*</span></label>
              <div class="input-group controls">
                <input formControlName="Ffollower" type="number" class="form-control" #Ifollower>
                <div *ngIf="formdata.controls.Ffollower.errors && formdata.controls.Ffollower.touched"
                  style="color:red;float: left;width: 100%;background: #ff000014;margin-top: 10px;padding: 10px 2px 0px 1px;">
                  <ul>
                    <li>Số follower is required.</li>
                  </ul>
                </div>
              </div>
              <label for="Inputuname">Mô tả</label>
              <div class="input-group controls">
                <input type="text" class="form-control">
              </div>
            </div>
            <div
              *ngIf="!(formdata.controls.Flocation.errors||formdata.controls.Fname.errors||formdata.controls.Ffollow.errors||formdata.controls.Ffollower.errors)">
              <button type="submit" class="btn btn-primary"
                (click)="commited(Ilocation.value, Iname.value, Ifollow.value, Ifollower.value)">Thêm</button></div>

          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>
<app-upload-video></app-upload-video>
